$t-duration: 0.5s;
$t-duration-view: 0.2s;


.login-anim-enter-active,
  .login-anim-leave-active {
    transition: transform $t-duration ease, opacity $t-duration ease;
   
  }

  .login-anim-enter,
  .login-anim-leave-to {
    transform: scale(0)translateY(-600px);
    
    opacity: 0;
  }
  .login-anim-enter-to,
  .login-anim-leave {
    transform: scale(1);
    opacity: 1;
  }
//_____________________________________________________
  .view-leave-active,
.view-enter-active {
  transition: opacity $t-duration-view ease-in-out, transform $t-duration-view ease;
}

.view-enter-active {
  transition-delay: $t-duration-view;
}

.view-leave-to,
.view-enter {
  opacity: 0;
  transform: translateX(-100px);
}

.view-leave,
.view-enter-to {
  opacity: 1;
  transform: translateY(0px);
}

.show-order-leave-active,
.show-order-enter-active{
    transition: transform 0.4s ease-in-out, opacity 0.5s ease-in;
    
}
.show-order-enter-active{
    transition-delay: 0.5s;
}

.show-order-leave-to,
.show-order-enter-active{
    transform: scale(2);
    opacity: 0;
}
.show-order-leave,
.show-order-enter-to{
    transform: scale(1);
    opacity: 1;


}

.showtime-leave-active,
.showtime-enter-active{
    transition: transform 4s ease-in;
    
}
.showtime-enter-active{
    transition-delay: 4s;
}

.showtime-leave-to,
.showtime-enter-active{
    transform: translate(100%, 0);
}
.showtime-leave,
.showtime-enter-to{
    transform: translate(-100%, 0);


}




.text-anim-active,
.text-anim-active {
  transition: opacity $t-duration-view ease-in-out, transform $t-duration-view ease;
}

.text-anim-active {
  transition-delay: $t-duration-view;
}

.text-anim-to,
.text-anim {
  opacity: 0;
}

.text-anim-leave,
.text-anim-enter-to {
  opacity: 1;
}

.text-anim-active,
.text-anim-active {
  transition: opacity $t-duration-view ease-in-out, transform $t-duration-view ease;
}

.text-anim-active {
  transition-delay: $t-duration-view;
}

.text-anim-to,
.text-anim {
  opacity: 0;
}

.text-anim-leave,
.text-anim-enter-to {
  opacity: 1;
}